<%- include("header") -%>
<h2>this is about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum labore fuga possimus omnis laudantium, nobis atque itaque aliquam nulla animi asperiores cupiditate id quia temporibus esse vitae enim suscipit. Quibusdam</p>
<%- include("footer") -%>