<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1><%= listTitle %>!</h1>
    <ul>
      <% for(var i = 0; i<newListItems.length; i++){ %>
            <li><%= newListItems[i] %></li>
      <% } %>

    </ul>

    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="list" autocomplete="off" value=<%= listTitle %>>추가</button>
    </form>

</body>
<footer>
    Copyright 2022 The App
</footer>
</html>